*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    color: #636363;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    max-width: 1300px;
    margin: auto;
}
.header__logo{
    background-image: url(../img/logo-2.png);
    height: 58px;
    width: 178px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header__title {
    display: flex;
}
ul{
    margin-top: 27px;
    /* margin-bottom: 1rem; */
}
li{
    text-decoration: none;
}
.header__title li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
}
.header__title a{
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    display: inline-block;
    font-size: 15px;
}

.header__title a:hover{
    color: #f55f8d;
    animation: upToDown 0.5s;
}
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
.header__button button{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    
      margin: 10px;
      padding: 18px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
    
      /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
      background-size: 200%;
    
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 45px;
      display: block;
      border: none;
}
.header__button button:focus{
    outline: none;
}
.header__button button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    border: none;
    
}
.carousel{
    position: relative;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
}
.carousel__content {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
}
.carousel__left{
    margin-top: 90px;
    width: 60%;
}
.carousel__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.carousel__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.carousel__bottom p{
    margin-bottom: 15px;
    font-size: 18px;
}
li{
    list-style: none;
}
.carousel__bottom li{
    font-size: 22px;
    margin-bottom: 22px;
}
.carousel__bottom i{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
      border-radius: 50%;
      color: #eee;
      padding: 7px;
      background-size: 200%;
}
.carousel__bottom span{
    padding-left: 10px;
}
.get button{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    
      margin-top: 20px;
      padding: 18px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
    
      /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
      background-size: 200%;
    
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 45px;
      display: block;
      border: none;
}
.get button:focus{
    outline: none;
}
.get button:hover {
    color: #fff;
    text-decoration: none;
    border: none;
    background-position: right center;
}
.carousel__right{
    width: 40%;
    display: inline;
}
.carousel__banner img{
    max-width: 100%;
    display: flex
}
.service{
    padding-top: 125px;
    background-image: url(../img/bg2.png);
    background-size: 100%;
    height: 710px;
    background-repeat: no-repeat;
}
.service__title{
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
}
.service__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.service__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 35px;
}
.service__chose{
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    justify-content: space-between;
}
.service__item{
    background: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 40px 51px;
    text-align: center;
    transition: all 0.5s;
    transform: translateY(0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
}
.service__item:hover{
    transform: translateY(-25px);
}
.service__item img{
    width: 215px;
    background-repeat: no-repeat;
}
.service__item h2{
    color: #262626;
    padding: 22px 0;
}
.aboutus{
    padding-top: 200px;
    background-image: url(../img/bg15.png);
    background-size: 100%;
    height: 770px;
    background-repeat: no-repeat;
}
.aboutus__content{
    display: flex;
    max-width: 1500px;
    margin: auto;
    position: relative;
}
.aboutus__left, .aboutus__right{
    width: 50%;
}
.aboutus__left img{
    width: 740px;
    height: 510px;
    border-radius: 0 90px 90px 0;
    margin-left: 120px;
    margin-top: 64px;
    position: absolute;
    left: -12%;
}
.aboutus__right p:first-of-type{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.aboutus__right h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.aboutus__right i{
    color: #f55f8d;
    font-size: 24px;
}
.aboutus__right span{
    padding-left: 10px;
}
.aboutus__content ul{
    margin-bottom: 40px;
}
.aboutus__right li{
    margin-bottom: 7px;
}
.number{
    margin-top: 200px;
    background-image: url(../img/bg14.png);
    background-size: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}
.number__content{
    max-width: 1300px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.number__item{
    align-items: center;
    width: 25%;
    padding: 90px 0;
}
.number__item i{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
      border-radius: 50%;
      color: #eee;
      width: 80px;
      height: 80px;
      line-height: 80px;
      background-size: 200%;
      font-size: 45px;
      display: inline-block;
}
.number__item p:first-of-type{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #f55f8d;
    padding-top: 22px;
}
.feature{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    height: 650px;
    padding-top: 100px;
    background-repeat: no-repeat;
}
.feature__content{
    margin: 0 auto;
    max-width: 1300px;
}
.feature__left, .feature__right{
    width: 50%;
    display: inline-block;
}
.ourfeature span{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.feature__item i{
    text-align: center;
}
.feature__item:hover i{
    color: white;
    transition: all 0.75s;
}
.feature__item:hover p:first-of-type{
    color: white;
    transition: all 0.75s;
}
.feature__item:hover p:last-of-type{
    color: white;
    transition: all 0.75s;
}
.feature__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.item__left{
    width: 25%;
    z-index: 1;
}
.item__left i{
    font-size: 80px;
    color: #f55f8d;
}
.item__right{
    width: 75%;
    z-index: 1;
}
.feature__item{
    display: flex;
}
.item__right p:first-of-type{
    font-size: 22px;
    color: #262626;
    font-weight: 600;
}
.feature__right{
    background-image: url(../img/pic3.png);
    background-size: 100%;
    width: 645px;
    height: 632px;
    animation: move2 5s infinite;
}
@keyframes move2{
    0% {
        transform: rotate(-3deg) translate(-3px,-3px);
    }
    
    50% {
        transform: rotate(3deg) translate(3px,3px);
    }
    100% {
        transform: rotate(-3deg) translate(-3px,-3px);
    }
}
.feature__item{
    width: 552px;
    height: 140px;
    background: white;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
    transition: all 2s;
    cursor: pointer;
}
.item__left, .item__right{
    position: relative;
}
.feature__item::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    border-radius: 10px;
}
.feature__item:hover::after {
    opacity: 1;
}
.right{
    margin-left: 60px;
}
.blog{
    background-image: url(../img/bg17.png);
    background-size: 100%;
    height: 1500px;
    margin-top: 300px;
    background-repeat: no-repeat;
}
.blog__title{
    text-align: center;
    margin: 0 auto;
    max-width: 1300px;
}
.blog__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.blog__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 35px;
}
.blog__content {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(2,1fr)1.5fr;
    gap: 35px;
    aspect-ratio: 1/1;
}
.blog__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.blog__item1{
    grid-column: 1/3;
}
.blog__item2{
    grid-column: 3 / -1;
    grid-row: 1 / 2;
}
.blog__item5{
    grid-column: 1/3;
}
.blog__item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.blog__item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}
.blog__overlay{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    opacity: 0;
    transition: all 0.75s;
}
.blog__item:hover .blog__overlay{
    opacity: 1;
}
.blog__text{
    position: absolute;
    left: 25px;
    bottom: 25px;
    transform: translateY(20px);
    transition: all 0.8s;
    color: white;
}
.blog__item:hover .blog__text{
    transform: translateY(0);
}
.blog__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
    text-align: center;
    cursor: pointer;
}
.blog__item:hover .blog__icon{
    transform: translate(0px,0px);
}
.blog__hover{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.blog__item:hover .blog__hover{
    left: 125%;
}
.plan{
    background-image: url(../img/bg16.png);
    background-size: 100%;
    height: 900px;
    margin-top: 90px;
    background-repeat: no-repeat;
}
.plan__content{
    margin: 0 auto;
    max-width: 1300px; 
}
.plan__title{
    text-align: center;
    margin-bottom: 40px;
}
.plan__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.plan__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.plan__blog{
    display: flex;
    justify-content: space-between;
}
.plan__item{
    width: 400px;
    height: 720px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
    padding: 55px 55px;
    position: relative;
    transition: all 0.5s;
    border: 3px solid transparent;
}
.plan__item:hover{
    border-image: url(../img/br.png) 1 round;
    transition: all 0.5s;
}
.plan__item img{
    width: 130px;
}
.plan__top h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__top p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan__top span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__top{
    border-bottom: 1px solid rgb(228, 228, 228);
    text-align: center;
}
.plan__bottom {
    float: left;
}
.plan__bottom li{
    padding-bottom: 15px;
}
.plan__bottom i{
    font-size: 12px;
    color: #f55f8d;
    border-radius: 50%;
    background: #fdecf1;
    padding: 7px;
}
.plan__bottom span{
    padding-left: 10px;
}
.bottom__button{
    margin-left: 41px;
}
.testimonial{
    background-image: url(../img/bg17.png);
    background-size: 100%;
    height: 750px;
    margin-top: 90px;
    background-repeat: no-repeat;
}
.testimonital__container{
    margin: 0 auto;
    max-width: 1300px; 
    text-align: center;
    overflow: hidden;
}
.testimonital__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.testimonital__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 30px 0;
  }
  .testimonial-name{
    color: #262626;
    font-size: 25px;
  }
  .testimonial-text .flaticon-quotation{
    position: absolute;
    top: 25px;
    left: 250px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
  }
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color:#f55f8d;
  }
  .text-primary{
    color: #f55f8d !important;
    font-size: 20px;
  }
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-bottom: 1580px;
}
.swiper-pagination-bullet-active {
    background: #f55f8d;
}
.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 36px;
    background-image: url(../img/pattern12.png);
    background-color: #f55f8d;
    background-size: 100%;
    background-position: bottom;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 19%;
    transition: all 1s;
}
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
.footer{
    background-image: url(../img/bg4.png);
    background-position: center;
    height: auto;
    margin-top: 90px;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
    position: relative;
    background-size: 100%;
}
.footer::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__container{
    margin: 0 auto;
    max-width: 1300px;
}
.footer__top{
    display: flex;
    position: relative;
    padding: 50px 60px;
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.footer__text, .footer__from{
    width: 50%;
}
.footer__text h2 {
    font-size: 28px;
    color: #262626;
    padding-top: 15px;
}
.footer__from form{
    display: flex;
    border-radius: 7px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__from input{
    padding: 20px 30px;
    border-radius: 7px 0 0 7px;
    border: 1px solid #fff;
    outline: 0;
    flex: 1 1 auto;
    font-size: 17px;
    transition: all 0.5s;
} 
.footer__from:hover input{
    border: 1px solid #f55f8d;
}
.footer__from button{
    padding: 20px 35px;
    outline: 0;
    transition: all 0.5s;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 7px 7px 0;
} 
.footer__from:hover button{
    background-position: right center;
}
.footer__from:hover i {
    animation: arrow 0.5s;
}
@keyframes arrow {
    49% {
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
}
.footer__bottom{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.footer__left{
    color: #fff;
    margin-top: 90px;
    width: 25%;
}
.footer__right{
    width: 75%;
    display: flex;
}
.footer__left a{
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}
.footer__left li{
    display: flex;
    margin-bottom: 22px;
}
.footer__left i{
    font-size: 15px;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.footer__left span{
    margin-left: 10px;
}
.footer__right{
    margin-bottom: 40px;
}
.footer__item{
    margin-top: 90px;
    width: 33%;
}
.footer__item h3{
    color: #fff;
}
.footer__item i{
    color: #636363;
    padding-right:10px ;
    transition: all 0.5s;
}
.footer__item a{
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
    color: #636363;
}
.footer__item li:hover i {
    color: #fff !important;
}
.footer__item li:hover a{
    color: #fff;
}
.footer__end{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
    margin-top: 90px;
}
.footer__content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.end__left span{
    color: #f55f8d;
}
.end__right a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all 0.5s;
}
.end__right a:hover{
    background: #f55f8d;
    color: #fff;
}
.footer__item li{
    margin-bottom: 22px;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
.cd-top--fade-out { 
    opacity: 0.5;
}
.backToTop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #f55f8d;
    border-radius: 10px;
    display: block;
    right: 15px;
    bottom: 15px;
    transition: all 0.5s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    position: fixed;
}
.color__backtotop a:hover{
    color: #fff;
}
.footer__br{
    display: flex;
    max-width: 300px;
}
.footer__br1{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    border-radius: 5px;
    background-size: 200%;
    padding: 2px 7px;
    margin-right: 5px;
}
.footer__br2{
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    border-radius: 5px;
    background-size: 200%;
    padding: 2px 22px;
}
.new{
    background-image: url(../img/bg16.png);
    background-size: 100%;
    height: 700px;
    padding-top: 30px;
    background-repeat: no-repeat;
}
.new__container{
    text-align: center;
    max-width: 1300px;
    margin: auto;
}
.new__title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.new__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 22px;
}
.new__blog{
    max-width: 1300px;
    margin: 0 auto;
    letter-spacing: 1px;
}
.service__slider{
    margin: 30px 0;
}
.blog__container{
    height: 300px;
    padding: 0 15px;
}
.item{
    background: rgba(245,95,141,0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.item img{
    border-radius: 10px;
}
.blog__header{
    top: 212px;
    left: 20px;
    position: absolute;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,#f8ae56 51%,#f55f8d 100%
      );
    border-radius: 5px;
    background-size: 200%;
    width: 160px;
    height: 40px;
    text-align: center;
    align-items: center;
}
.blog__header p{
    padding-top: 7px;
}
.blog__body{
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer{
    display: flex;
    border-top: #636363;
    position: relative;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
    font-size: 14px;
}
.blog__footer i{
    color: #f55f8d;
    font-size: 22px;
    margin-left: 20px;
}
.blog__footer span{
    text-transform: uppercase;
    font-size: 14px;
}



    




  
